.nav {
    display: flex;
    justify-content: space-between;
    margin: 20px 40px 10px 40px;
    list-style: none;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.high-scores {
    color: blueviolet;
}

.questions {
    display: none;
}

ul {
    list-style: upper-alpha;
}

li.0 {
    color: blue;
}
