.nav {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 20px 40px 20px 10px;
    list-style: none;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.questions {
    display: none;
}

ul {
    list-style: upper-alpha;
}

.timer {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: lightgrey;
    border-radius: 10%;
    padding: 20px;
    width: 500px;

}
